---
apiVersion: v1
kind: Service
metadata:
  name: oncall
  namespace: st-ab5-statsenko
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: oncall
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080