---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: mysql
  namespace: st-ab5-statsenko
spec:
  selector:
    matchLabels:
      app: mysql
      app.kubernetes.io/name: mysql
  serviceName: oncall-mysql
  replicas: 1
  template:
    metadata:
      labels:
        app: mysql
        app.kubernetes.io/name: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.3.0
          envFrom:
            - secretRef:
                name: mysql
          ports:
            - name: mysql
              containerPort: 3306
          volumeMounts:
            - name: data
              mountPath: /var/lib/mysql
              subPath: mysql
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
          livenessProbe:
            exec:
              command:
                - mysqladmin
                - ping
                - -h
                - localhost
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            exec:
              command:
                - mysql
                - -h
                - localhost
                - -u
                - root
                - -p1234
                - -e
                - SELECT 1
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
          startupProbe:
            exec:
              command:
                - mysqladmin
                - ping
                - -h
                - localhost
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
        - name: mysql-exporter
          image: prom/mysqld-exporter:v0.15.1
          args:
            - "--config.my-cnf=/etc/mysql-exporter/my.cnf"
            - "--collect.engine_innodb_status"
            - "--collect.global_variables"
            - "--collect.global_status"
            - "--collect.info_schema.innodb_metrics"
            - "--collect.info_schema.processlist"
            - "--collect.info_schema.tables"
          volumeMounts:
            - name: mysql-exporter-config
              mountPath: /etc/mysql-exporter
              readOnly: true
          ports:
            - name: metrics
              containerPort: 9104
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi
          livenessProbe:
            httpGet:
              path: /
              port: 9104
            failureThreshold: 5  
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 9104
            failureThreshold: 5  
            initialDelaySeconds: 30
            periodSeconds: 10
          startupProbe:
            httpGet:
              path: /
              port: 9104
            failureThreshold: 10
            initialDelaySeconds: 30
            periodSeconds: 10  
      volumes:
        - name: mysql-exporter-config
          configMap:
            name: mysql-exporter-configmap
        - name: data
          emptyDir: {}